.sign {
        cursor: pointer;
        font: inherit;
        border: none;
        color: white;
        padding: 0.75rem 3rem;
        padding-left : 15px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
}