body {
    font-family: 'Helvetica';
  }


  .nooverwrite {
    text-overflow: ellipsis; 
    overflow: hidden; 
    white-space: nowrap;
  }

  .block col-2 h1, h2{
    margin: 0.5rem 0;
    font-size: 40px;
    color: black;margin-bottom: 20px;
  }

.block col-2 h3{
  font-size: 20px;
}

  a {
    text-decoration: none;
  }
  .row {
    /* display: flex;
    justify-content: space-between;
    align-items: center; */

    display: flex;
    flex-wrap: wrap;
    width:100%;
    margin: 0 auto;
    margin-top: 35px;

  
    
  }
  /* body {
    text-align: center;
    padding: 30px;
    background: #f8f4f2;
    font-family: Arial;
  } */
  
  .a-box {
    display: inline-block;
 
    width: 240px;
    text-align: center;
    flex-basis: 20%;
    margin: 2%;
    
    text-align: center;
    justify-content: center;
    align-items: center
  }
  
  .img-container {
      height: 230px;
      width: 200px;
      overflow: hidden;
      border-radius: 0px 0px 20px 20px;
      display: inline-block;
  }
  
  .img-container img {
      transform: skew(0deg, -13deg);
      height: 250px;
      margin: -35px 0px 0px -70px;
  }
  .forForm{
      text-align: left;
      justify-content: left;
  }
  .inner-skew {
      display: inline-block;
      border-radius: 20px;
      overflow: hidden;
      padding: 0px;
      transform: skew(0deg, 13deg);
      font-size: 0px;
      margin: 30px 0px 0px 0px;
      background: #c8c2c2;
      height: 250px;
      width: 200px;
  }
  
  .text-container {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    padding: 120px 20px 20px 20px;
    border-radius: 20px;
    background: #fff;
    margin: -120px 0px 0px 0px;
    line-height: 19px;
    font-size: 14px;
  }
  
  .text-container h3 {
    margin: 20px 0px 10px 0px;
    color: #04bcff;
    font-size: 18px;
  }
  .row.center {
    align-items: center;
  }
  .element{
    /* /* padding: 10;
    margin: 5;
    border-width: 1;
    border-radius: 10;
    align-items: 'center';
    justify-content: 'center'; */
  
   /* flex-basis: 33.33%;
    text-align: center;
    
    justify-content: center;
    font-size: 24px; */

    justify-content: center;
    flex-basis: calc(90%/3);
    text-align: center;
    padding: 1%;
    align-items: flex-end;
    
    
   
  }


  .title {
    margin-bottom: 20px;
    color: purple;
    font-family: 'Calibri', Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 4px;
    font-weight: 600;
    text-align: center;
  }
  .col-1 {
    flex: 1;
  }
  .col-2 {
    flex: 2;
    flex-direction: row;
  }
  .block {
    background-color: #e0e0e0;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
  }
  .text-right {
    text-align: right;
  }
  img.small {
    max-height: 8rem;
    max-width: 20rem;
  }


.badge {
    background-color: #f04040;
    border: none;
    color: #ffffff;
    width: 1.5rem;
  }

.row button{
    background-color: purple;
    border-radius: 100px;
    color: white;
    text-align: center;
    /* display: inline-block; */
    font-size: 15px;
    cursor: pointer;
    margin: 0px;
    margin-bottom: 5px;
    height: 30px;
}
  
