.form {
    text-align: left;
  }
  
  .form button {
    font: inherit;
    cursor: pointer;
    background-color: purple;
    border: 1px solid purple;
    color: white;
    padding: 0.25rem 2rem;
    border-radius: 20px;
    font-weight: bold;
  }
  
  .form button:hover,
  .form button:active {
    background-color: pink;
    border-color: pink;
  }