.meal {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
    text-align: center;
  }
  
  .meal h3 {
    margin: 0 0 0.25rem 0;
    text-align: center;
  }
  
  .description {
    font-style: italic;
  }
  .searchimg {
    width: 300px;
    border-radius: 25px;
  }
  .price {
    margin-top: 0.25rem;
    font-weight: bold;
    color: purple;
    font-size: 1.25rem;
  }