/* CSS */
#btn {
    visibility:visible;
    position: absolute ;
    left: 100px;
    margin-top: 100px;
    width: 200px;
    background-color: blueviolet;
    color: white;
    height: 200px;
    text-align: center;
    border-radius: 20px;
    border: 0.2px;
    cursor: pointer;
}
.bb1{
    font-size: 25px;
}
.bb2 {
    font-size: 100px;
}

#form {
    position: absolute;
    left: 400px;
    border-radius: 20px;
    margin-top: 50px;
    width: 500px;
    height: 400px;
    border: 2px;
    background-color: blueviolet;
}